* {
	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
  
   /* Disable mouse selection */
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.panel {
	height: 472px;
	width: 472px;
	border-radius: 100%;
	position: relative;
  	text-align: center;
 	margin: auto;
 	background-color: rgb(39, 40, 34);
  	top:10vh;
  	box-shadow: 0px 0px 6px #222;
}

.ring {
	position: relative;
	top: 12px;
}

.rw{
  margin-bottom:-4px;
}

.red {
  background-color : #9f0f17;
}

.green {
  background-color : #00a74a;
}

.yellow {
  background-color : #cca707;
}

.blue {
  background-color : #094a8f;
}

.b-r{
  border-bottom-right-radius : 100%;
}

.b-l{
  border-bottom-left-radius : 100%;
}

.t-l{
  border-top-left-radius : 100%;
}

.t-r{
  border-top-right-radius : 100%;
} 

.push{
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 12px solid rgb(39, 40, 34);
}

.clickable{
  pointer-events : auto;
  cursor: pointer;
}

.unclickable{
  pointer-events:none;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 220px;
	height: 220px;
	border-radius: 100%;
	background-color:#ECE7EE;
	margin: -122px 0 0  -122px;
	border: 12px solid rgb(39, 40, 34);
}

.brand{
  font-family: 'Alfa Slab One', cursive;
  color : #222;
  font-size: 3.0em;
  margin-top : 35px;
}

.display { 
	position: relative;
	display: inline-block;
	width: 60px;
	text-align: center;
}

.count {
	width: 50px;
	padding: 0;
	margin: auto;
	background-color: #32050C;
	color: #DC0D29;
	font-size: 2em;
	font-family: 'VT323', monospace;
	border: 4px solid #222;
	border-radius: 10px;
}

.led-off{
  color:#430710;
}

.lable {
	color : #222;
	font-family : 'Oswald',Arial,sans;
  	font-size:0.7em;
  	margin-top:5px;
  	text-align:center;
  	display: inline-block;
}

.btn-box {
	display: inline-block;
	position: relative;
	width: 50px;
}

.btn {
	width: 20px;
	height: 20px;
	position: relative;
	border: 4px solid #444;
	border-radius: 100%;
	background-color : yellow;
	box-shadow : 0px 2px 3px #222;
    margin:auto;
    top : -5px;
}

.btn:active {
    box-shadow : 0 1px 1px #292929;
    top : -4px;
}

#start {
	background-color: red;
}

.led {
	width: 6px;
	height: 6px;
	position: absolute;
	left: 0;
	right: 0;
	background-color: #32050C;
	border: 2px solid #222;
	border-radius: 100%;
	top: -18px;
	margin: auto;
}

.led-on{
  background-color:#DC0D29;
}

.slot {
	width: 40px;
	height: 20px;
	top: 5px;
	position: relative;
	display: inline-block;
	border-radius: 2px;
	background-color: #222;
	cursor: pointer;
}

.bot{
  margin-top: 10px;
}

.switch {
	width: 16px;
	height: 16px;
	border: 2px solid #333;
	border-radius: 4px;
	background-color : #3193DE;
	position: relative;
}

.sw-on{
  left:20px;
}

.yellow.light{
  background-color : #fed93f;
}

.blue.light{
  background-color : #1c8cff;
}

.red.light{
  background-color : #ff4c4c;
}

.green.light{
  background-color : #13ff7c;
}

@media screen and (max-width: 500px){

  .panel {
    top: 40px;
    
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    
    left: 50%;
    margin-left: -142px;
  }
}